{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "jquery"
  ],
  "rules": {
    "indent": [
      "error",
      4
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "wrap-regex": "error",
    "no-unused-vars": [
      "error", {
        "varsIgnorePattern": "[Dd]ummy"
      }
    ],
    "space-infix-ops": [
        "error", {
          "int32Hint": false
        }
    ]
  }
}
