<section id="editor" class="clearfix">
    <article>
        <iframe id="editor-preview" src="/admin/email_templates/<%= @email_template.id %>"></iframe>
    </article>
    <article>
        <%= render 'form' %>
    </article>
</section>