@import 'variables';

body {
    font-family: 'Roboto';
    color: $lightgrey;
    background-color: #F2F6F9;
    padding-top: 53px;
    > .page {
        padding: 20px 0;
    }
}

ul,
ol {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none !important;
    &:focus,
    &:active {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: $darkgrey;
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
}

p {
    font-size: 13px;
    font-weight: 300;
}

.container {
    width: 100%;
}

.page {
    width: calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    float: right;
}

.panel {
    margin-bottom: 0;
    border-color: #d2dee8;
    border-radius: 0;
}

#main-header {
    background: $darkpurple;
    background: -moz-linear-gradient(top, $darkpurple 0%, $lightpurple 100%);
    background: -webkit-linear-gradient(top, $darkpurple 0%, $lightpurple 100%);
    background: linear-gradient(to top, $darkpurple 0%, $lightpurple 100%);
    position: fixed;
    z-index: 1500;
    left: 0;
    top:0;
    width: 80px;
    height: 100vh;
    ul {
       padding: 8px;
        > li {
            > a {
                padding: 8px;
                text-shadow: 0 1px 0 #000;
                color: #fff;
                opacity: .5;
                >  i {
                    display: block;
                    margin: 0 auto;
                }
                &:hover {
                    background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
                    background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
                    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
                }
            }
        }
    }
}

#page-header {
    background-color: #fff;
    padding: 10px 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    -webkit-box-shadow: 0px 10px 25px -6px rgba(210,222,232,.6);
    -moz-box-shadow: 0px 10px 25px -6px rgba(210,222,232,.6);
    box-shadow: 0px 10px 25px -6px rgba(210,222,232,.6);
    border-bottom: 1px solid $border-ligthrey;
    #dropdown-current-user {
        > button {
            -webkit-appearance: none;
            background: transparent;
            border: 0 solid transparent;
            display: flex;
            > img {
                width: 30px;
                float: left;
                margin: auto 0 ;
            }
            > p {
                float: left;
                margin: auto 0;
                font-size: 14px;
                font-weight: 700;
                padding-left: 8px;
            }
        }
    }
}