@import 'variables';

#users-form {
    > div > div {
        padding: 0 15px;
        &:first-child {
            width: 180px;
            float: left;
        }
        &:last-child {
            width: calc(100% - 180px);
            width: -webkit-calc(100% - 180px);
            width: -moz-calc(100% - 180px);
            float: left;
        }
    }
}