@import '../variables';

.dataTables_wrapper {
    .datatable-filters {
        display: block;
        overflow: hidden;
        float: right;
        padding-bottom: 20px;
        .dataTables_filter {
            float: left;
            padding-right: 7.5px;
            border-right: 1px solid $border-ligthrey;
            input {
                width: 250px;
                margin: 0;
            }
            label {
                margin: 0;
                position: relative;
                &:after {
                    font-family: $materialFontFamily;
                    content: 'search';
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: 18px;
                    padding: 0px 5px;
                    display: block;
                    line-height: 1.9;
                    color: $lightgrey;
                }
            }
        }
        .dataTables_length {
            float: left;
            padding-left: 7.5px;
            select {
                width: 150px;
            }
        }
    }
    .dataTables_info {
        float: left;
        padding-top: 15px;
        font-size: 10px;
        text-transform: uppercase;
    }
    .dataTables_paginate {
        float: right;
        padding-top: 8px;
        > a {
            > i {
                height: initial;
                width: inherit;
                font-size: 15px;
                padding: 5px;
            }
        }
        > span {
            a {
                padding: 5px 8px 3px 8px;
                font-size: 12px;
            }
        }
        .paginate_button {
            cursor: pointer;
            float: left;
            color: $lightgrey;
            margin: 0 2px;
            border-radius: 1px;
            &.current {
                color: #fff;
                background-color: $darkpurple;
                &:hover {
                    background-color: $darkpurple;
                }
            }
            &:hover {
                background-color: rgba(2, 15, 55, .1);
            }
        }
    }
    .datatable {
        clear: both;
        thead {
            tr {
                th {
                    cursor: pointer;
                    position:relative;
                    &:active,
                    &:focus {
                        outline: none;
                    }
                    &.no-sorting {
                        pointer-events: none;
                        cursor: default;
                        &:after,
                        &:before {
                            display: none;
                        }
                    }
                    &.sorting_asc {
                        &:before {
                            opacity: 1;
                        }

                    }
                    &.sorting_desc {
                        &:after {
                            opacity: 1;
                        }

                    }
                    &:after,
                    &:before {
                        font-family: $materialFontFamily;
                        position: absolute;
                        right: 12px;
                        opacity: .3;
                    }
                    &:before {
                        content: 'arrow_drop_up';
                        top: 12px;
                    }
                    &:after {
                        content: 'arrow_drop_down';
                        top: 18px;
                    }
                }
            }
        }
    }
}
